@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@600&family=Nunito:wght@300&family=Rubik+Dirt&display=swap');

html {
    font-size: 62.5%;
    font-family: Geologica, Nunito;
}

body {
    min-height: 100vh;
    background-color: snow(0, 140, 221);
    margin: 0;
    padding: 0;
}

h1 {
    font-size: clamp(2rem, 3rem, 4rem);
    text-align: center;
    padding: 0;
    margin: 0;
    color: white;
}

#headerBox {
    border: solid 3px black;
    border-radius: 10px;
    width: 16%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 5rem;
    background-color: rgb(0, 177, 221);
}

#mainContainer {
    display: flex;
    border: solid 2px black;
    width: 50%;
    margin: auto;
    margin-top: 3rem;
}

#gameboards {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

#split {
    height: 100%;
    border: solid 1px black;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
    gap: 0.25rem;
    margin: 2rem;
    cursor: crosshair;
}

.cell {
    border: solid 2px black;
    box-sizing: border-box;
    width: 4rem;
    height: 4rem;
}

.cell:hover {
    border: solid 2px red;

}