@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@600&family=Nixie+One&family=Nunito:wght@300&family=Rubik+Dirt&display=swap');

html {
    font-size: 62.5%;
    font-family: Nunito, 'Nixie One', Geologica;
}

body {
    min-height: 100vh;
    background-color: snow(0, 140, 221);
    margin: 0;
    padding: 0;
}

h1 {
    font-size: clamp(4rem, 5rem, 6rem);
    text-align: center;
    padding: 0;
    margin: 0;
    color: black;
}

#headerBox {
    width: 16%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 5rem;
}

#mainContainer {
    display: flex;
    width: 50%;
    margin: auto;
    margin-top: 3rem;
    justify-content: center;
}

#gameboards {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

#split {
    height: 100%;
    border: dashed 1px black;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
    gap: 0.25rem;
    margin: 2rem;
    cursor: crosshair;
}

.cell {
    border: solid 1px black;
    border-radius: 2.5px;
    font-weight: bold;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background-color: rgb(231, 231, 231)
}

.cell:hover {
    border: solid 2px red;
    background-color: rgb(255, 142, 142);
}

#resultsContainer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

#results {
    text-align: center;
    font-size: 2rem;
}