@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@600&family=Nunito:wght@300&family=Rubik+Dirt&display=swap');

html {
    font-size: 62.5%;
    font-family: Geologica, Nunito;
}

body {
    min-height: 100vh;
    background-color: snow(0, 140, 221);
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 4rem;
    text-align: center;
    padding: 0;
    margin: 0;
    color: white;
}

#headerBox {
    border: solid 3px black;
    border-radius: 10px;
    width: 16%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 5rem;
    background-color: rgb(0, 177, 221);
}

#mainContainer {
    display: flex;
    border: solid 2px black;
    width: 90%;
    margin: auto;
    margin-top: 3rem;
}

#gameBoards {
    display: flex;
}